In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

### 1. Import the moovies dataset

# https://www.kaggle.com/carolzhangdc/imdb-5000-movie-dataset

In [3]:
data=pd.read_csv(r'/Users/nadimsaad/Desktop/IRONHACK/Module 2/Week 4/Day 18/movie_metadata.csv')

In [8]:
data.columns

Index(['index', 'color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [4]:
data.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

### 2. Use crosstabs to show the number of moovies per country

In [5]:
data.reset_index(inplace=True)

In [12]:
pd.crosstab(data.country,data.color,values=data.index, aggfunc='count',margins=True,margins_name="Total")

color                  Black and White   Color  Total
country
Afghanistan                        NaN     1.0      1
Argentina                          NaN     4.0      4
Aruba                              NaN     1.0      1
Australia                          1.0    54.0     55
Bahamas                            NaN     1.0      1
...                                ...     ...    ...
UK                                20.0   427.0    447
USA                              149.0  3644.0   3793
United Arab Emirates               NaN     1.0      1
West Germany                       NaN     3.0      3
Total                            209.0  4812.0   5021

[66 rows x 3 columns]

### 3. Create a crosstab to show the number of films per director and genre splitted by country

In [14]:
pd.crosstab([data.director_name,data.genres,],data.country,rownames=['Director','Genres'], colnames=["Country"],
            dropna=True,margins=True)

,Country,Afghanistan,Argentina,Aruba,Australia,Bahamas,Belgium,Brazil,Bulgaria,Cambodia,Cameroon,...,Sweden,Switzerland,Taiwan,Thailand,Turkey,UK,USA,United Arab Emirates,West Germany,All
Director,Genres,,,,,,,,,,,,,,,,,,,,,
A. Raven Cruz,Action|Adventure|Comedy|Fantasy|Sci-Fi,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
Aaron Hann,Drama|Horror|Mystery|Sci-Fi|Thriller,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
Aaron Schneider,Drama|Mystery,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
Aaron Seltzer,Comedy|Romance,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
Abel Ferrara,Crime|Drama,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Álex de la Iglesia,Crime|Mystery|Thriller,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Émile Gaudreault,Comedy|Drama,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Éric Tessier,Action|Drama|Horror|Thriller,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Étienne Faure,Drama|Musical|Romance,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
All,,1,4,1,53,1,4,8,1,1,1,...,6,3,2,5,1,434,3733,1,3,4936

### 4. Average duration of filmes grouped by color

In [16]:
pd.crosstab(data.duration,data.color,values=data.duration, aggfunc='mean',margins=True,margins_name="Total",dropna=True)

color      Black and White       Color       Total
duration
7.0                    NaN    7.000000    7.000000
11.0                   NaN   11.000000   11.000000
14.0                   NaN   14.000000   14.000000
20.0                   NaN   20.000000   20.000000
22.0                   NaN   22.000000   22.000000
...                    ...         ...         ...
325.0                  NaN  325.000000  325.000000
330.0                  NaN  330.000000  330.000000
334.0                  NaN  334.000000  334.000000
511.0                  NaN  511.000000  511.000000
Total           112.253589  107.042908  107.260279

[191 rows x 3 columns]

### 5. Average number of likes per director (assuming that total film's likes are counted as a sum of actor's likes)

In [22]:
pd.crosstab(data.director_name,data.director_facebook_likes,values=data.actor_2_facebook_likes, aggfunc='mean',margins=True,margins_name="Total",dropna=True)

director_facebook_likes,0.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,14000.0,15000.0,16000.0,17000.0,18000.0,20000.0,21000.0,22000.0,23000.0,Total
director_name,,,,,,,,,,,,,,,,,,,,,
A. Raven Cruz,361.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361.000000
Aaron Hann,152.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.000000
Aaron Schneider,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3000.000000
Aaron Seltzer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,869.000000
Abel Ferrara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,787.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Álex de la Iglesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,161.000000
Émile Gaudreault,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210.000000
Éric Tessier,16.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.000000
Étienne Faure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
Total,1802.494457,560.444444,375.128571,1344.40678,1275.288462,732.96875,993.15625,691.826923,1329.346939,782.773585,...,3503.933333,4919.5,3477.821429,3297.05,2159.5,860.0,3083.5,13645.0,19000.0,1675.850852