## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [9]:
sample_list_1=random.sample(range(100), 80)
print(sample_list_1)

[81, 44, 91, 39, 62, 72, 51, 68, 77, 17, 29, 16, 18, 64, 14, 21, 55, 7, 79, 73, 49, 85, 88, 25, 47, 9, 87, 86, 98, 84, 89, 20, 41, 75, 65, 11, 96, 13, 50, 27, 54, 70, 28, 99, 36, 78, 2, 23, 1, 59, 33, 12, 52, 8, 6, 53, 66, 15, 56, 82, 63, 43, 46, 34, 61, 92, 24, 83, 97, 31, 74, 22, 38, 80, 76, 45, 42, 48, 35, 93]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [48]:
set1=set((sample_list_1))
# set1={81, 44, 91, 39, 62, 72, 51, 68, 77, 17, 29, 16, 18, 64, 14, 21, 55, 7, 79, 73, 49, 85, 88, 25, 47, 9, 87, 86, 98, 84, 89, 20, 41, 75, 65, 11, 96, 13, 50, 27, 54, 70, 28, 99, 36, 78, 2, 23, 1, 59, 33, 12, 52, 8, 6, 53, 66, 15, 56, 82, 63, 43, 46, 34, 61, 92, 24, 83, 97, 31, 74, 22, 38, 80, 76, 45, 42, 48, 35, 93}
print(len(set1)) # yes the length is still 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [47]:
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)
type(sample_list_2)
len(sample_list_2)

[3, 97, 86, 53, 40, 6, 57, 61, 37, 27, 79, 53, 37, 65, 29, 56, 61, 54, 31, 36, 53, 55, 16, 64, 50, 77, 81, 83, 80, 51, 90, 15, 17, 64, 20, 86, 69, 52, 68, 45, 54, 16, 46, 27, 84, 99, 87, 89, 100, 20, 82, 4, 60, 6, 12, 89, 17, 31, 79, 93, 66, 64, 94, 39, 37, 94, 80, 43, 33, 12, 70, 6, 15, 52, 65, 34, 5, 73, 45, 34]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [50]:
set2=set(sample_list_2)
print(set2)
print("the Length of set2 is", len(set2)) # No, the length is now 54

{3, 4, 5, 6, 12, 15, 16, 17, 20, 27, 29, 31, 33, 34, 36, 37, 39, 40, 43, 45, 46, 50, 51, 52, 53, 54, 55, 56, 57, 60, 61, 64, 65, 66, 68, 69, 70, 73, 77, 79, 80, 81, 82, 83, 84, 86, 87, 89, 90, 93, 94, 97, 99, 100}
the Length of set2 is 54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [51]:
set3= list(set(sample_list_1) - set(sample_list_2))
print(set3)
print("the Length of set3 is", len(set3))

[0, 1, 2, 8, 9, 10, 11, 14, 19, 21, 22, 23, 24, 25, 26, 28, 30, 32, 35, 38, 41, 42, 44, 48, 58, 59, 63, 71, 72, 74, 76, 78, 85, 88, 91, 95, 96, 98]
the Length of set3 is 38

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [52]:
set4= list(set(sample_list_2) - set(sample_list_1))
print(set4)

[65, 4, 37, 6, 39, 100, 12, 45, 77, 50, 60, 61]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [53]:
set5 = set1.intersection(set2)
print(set5)

{3, 5, 15, 16, 17, 20, 27, 29, 31, 33, 34, 36, 40, 43, 46, 51, 52, 53, 54, 55, 56, 57, 64, 66, 68, 69, 70, 73, 79, 80, 81, 82, 83, 84, 86, 87, 89, 90, 93, 94, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [54]:
print(len(set1)) # elements in set1
print(len(set2)) # elements in set2
print(len(set3)) # elements available in set1 but not in set2
print(len(set4)) # elements available in set2 but not in set1
print(len(set5)) # elements at the intersection of set1 and set2 (Union)

80
54
38
12
42

#### Create an empty set called `set6`.

In [ ]:
set6={}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [55]:
import random
set6=set([])
sample_list_1=random.sample(range(100), 80)
sample_list_2=[random.randint(0, 100) for i in range(80)]
set1=set((sample_list_1))
set2=set((sample_list_2))
set3= list(set(sample_list_1) - set(sample_list_2))
set5 = set1.intersection(set2)
set6.update(set3)
set6.update(set5)
print(set6)
print(len(set6))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 16, 17, 19, 20, 21, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 63, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 93, 94, 96, 97, 98}
80

#### Check if `set1` and `set6` are equal.

In [58]:
x=len(set1) # elements in set1
y=len(set6) # elements in set6
if x==y:
    print("Both sets are equal to each other")

Both sets are equal to each other

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [59]:
A=set1
B=set2
C=set3
print(B.issubset(A))
print(C.issubset(A))

False

AttributeError: 'list' object has no attribute 'issubset'

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [60]:
# set union()
s1 = set3.union(set4,set5)
s2 = set1.union(set2)
#x=set3.union(set4)
#y=set4.union(set5)
#z=x+y
#print(z)

AttributeError: 'list' object has no attribute 'union'

#### Using the `pop` method, remove the first element from `set1`.

In [61]:
# Your code here
print(set1)
print(set1.pop())

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 16, 17, 19, 20, 21, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 63, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 93, 94, 96, 97, 98}
0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [12]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for item in list_to_remove:
    set1.discard(item)
print(set1)

{2, 3, 5, 8, 10, 14, 15, 16, 17, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 40, 42, 43, 44, 46, 48, 52, 53, 54, 55, 56, 57, 58, 63, 64, 66, 68, 70, 72, 73, 74, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 97, 98}